html {
    font-size: 10px
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: "Aleo", serif;
}

header {
    height: 5rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem 1.5rem;
}

.hero .discover-wrap {
    background-color:  #f1911b;;
    width: 100%;
    padding: 1rem;
}

.hero img {
    width: 100%;
}

.hero .discover {
    font-size: 3rem;
    font-weight: 600;
    word-spacing: rem;
    letter-spacing: ;
}

.hero .book-consultation {
    font-size: 1.6rem;
    font-weight: 800;
}

.hero  .phone {
    color: #fff2e4;
    font-size: 1.6rem;
    font-weight: 600;
    word-spacing: -0.2rem;
}



