html {
    font-size: 10px
}

body * {
    margin: 0;
    padding: 0;
    font-family: "Aleo", serif;
    padding: 0.6rem;
}

header {
    height: 5rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem 1.5rem;
}

.hero .discover-wrap {
    background-color: orange;
    width: 100%;

}

.hero .discover {
    font-size: 3.1rem;
    font-weight: 800;
}

.hero .book-consultation {
    font-size: 1.6rem;
    font-weight: 800;
}

.hero  .phone {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    word-spacing: -0.2rem;
}



